/* Universal Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 'Anton', sans-serif;
  }

  hr {
    border-style: dashed;
  }

  body {
    background-image: url(https://i.pinimg.com/564x/19/ae/78/19ae781f50e177bdf00778bdfbc0876a.jpg);
    background-size: cover;
  }

  #headerlogo {
    height: 100px;;
  }
  
  header {
    position: relative;
    margin-left: 30rem;
    margin-right: 40rem;
    font-size: 30px;
    left: 80px;
  }
  
  #nav-bar {
    margin-bottom: 2rem;
    padding: 0.8rem;
    border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
  }
  
  #nav-logo {
    flex-grow: 1;
  }
  
  #nav-bar ul {
    display: flex;
    align-items: center;
  }
  
  #nav-bar .nav {
    list-style-type: none;
    margin: 0.5rem;
    font-size: 20px;
    color: white;
  }

  #sidebar {
    width: 200px;
    height: 1800px;
    background-color: red;
  }

  #sidebar .nav{
    list-style-type: none;
    margin: 1rem;
    font-size: 20px;
  }
  
  #orientation{
    display: flex;
    color: white;
  }

  #intro {
    display:flex;
    padding-top: 5rem;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 5rem;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    width: 1120px;
  }

  #intro > #description {
    position: relative;
    left: 100px;
  }
  
  
  button {
    color: white;
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-decoration-style: none;
    background-color: gold;
    border-radius: 10px;
    font-size: 1rem;
    padding: 1rem;
    border: none;
    text-align: center;
    margin: 0.5rem 0px;
    position: relative;
    left: 570px;
  }
  
  button:hover {
    background-color: orange;
  }
  
  button:active {
    transform: translateY(1px);
  }

  h2 {
    font-size: 40px;
    width: 150px;
  }

  #description {
    text-align: center;
  }

  #picture1{
    height: 300px;
    position: relative;
    left: 100px;
    top: 50px;
  }

  #troops {
    position: relative;
    left: 400px;
    bottom: 200px;
    font-size: 23px;
    width: 700px;
    height: 100px;
  }

  #troops > h2 {
    position: relative;
    left: 280px;
  }

  #picture2{
    height: 300px;
    position: relative;
    left: 100px;
    top: 100px;
  }

  #heroes {
    position: relative;
    left: 400px;
    bottom: 150px;
    font-size: 23px;
    width: 700px;
    height: 150px;
  }

  #heroes > h2 {
    position: relative;
    left: 280px;
  }

  #picture3{
    height: 200px;
    width: 400px;
    position: relative;
    top: 50px;
    left: 450px;
  }

  #defenses {
    position: relative;
    top: 100px;
    left: 150px;
    font-size: 23px;
    width: 900px;
    height: 150px;
  }

  #defenses > h2 {
    position: relative;
    left: 420px;
    font-size: 40px;
    width: 150px;
  }

  #defenses > p {
    position: relative;
    left: 55px;
    text-align: center;
  }
  
  
  /* Pre-footer */
  #pre-footer {
      background-color: red;
      border-top: 2px solid white;
      border-bottom: 2px solid white;
      color: white;
      display: flex;
      justify-content: center;
      padding: 1rem;
  }
  
  #pre-footer > article > * {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      margin-left: 5rem;
      margin-right: 5rem;;
  }

  #pre-footer > article > p > a > img {
    height: 30px;
    width: 30px;
  }
  
  footer {
      display: flex;
      color:white;
      justify-content: center;
      align-items: center;
      padding: 0.7rem;
  }
  
  footer span {
      margin:  0 0.5rem;
  }

  .nav:hover {
    background-color: yellow;
    color: black;
  }